In [16]:
import pandas as pd

In [17]:
import numpy as np

In [18]:
import matplotlib.pyplot as plt

In [21]:
pip install openpyxl

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [22]:
data_df=pd.read_excel('Wages 2020Census cleaned.xlsx')
data_df

,Age,Sex,Marital_status,Number_of_children,Family_size,Education-degree_recode,Education-degree_recode 2,Education,Race_ethnicity-multi_recode,Immigrate-year,Birthplace_recode,Speaks_English,Employment_status,Income-wages,Region_recode,Region-division_recode,Moved,Year,state
0,30,Male,"Married, spouse present",2,4,Masterâ€™s or professional degree,Master or professional degree,Master or PhD or professional degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,63000,South,East South Central,Same house,2020,Tennessee
1,28,Female,"Married, spouse present",1 child present,3,Masterâ€™s or professional degree,Master or professional degree,Master or PhD or professional degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,46000,South,East South Central,Same house,2020,Tennessee
2,34,Male,"Married, spouse present",1 child present,3,Bachelorâ€™s degree,Bachelor degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,45000,South,East South Central,Same house,2020,Tennessee
3,58,Female,"Married, spouse absent",1 child present,2,"1 or more years of college, no degree","1 or more years of college, no degree","1 or more years of college, no degree",Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,55000,South,East South Central,Same house,2020,Tennessee
4,39,Male,Never married/single,0 children present,1,Bachelorâ€™s degree,Bachelor degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,12000,South,East South Central,Same house,2020,Tennessee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4360,67,Male,"Married, spouse present",0 children present,2,Bachelorâ€™s degree,Bachelor degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,40000,Midwest,West North Central,Same house,2020,North Dakota
4361,48,Male,"Married, spouse present",4,6,Associateâ€™s degree,Associate degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,65000,Midwest,West North Central,Same house,2020,North Dakota
4362,33,Male,"Married, spouse absent",0 children present,1,Associateâ€™s degree,Associate degree,Associate or Bachelor degree,Non-Hispanic Black,2017,Africa,"Yes, speaks very well",Employed,45000,Midwest,West North Central,Same house,2020,North Dakota
4363,22,Female,Never married/single,0 children present,2,"1 or more years of college, no degree","1 or more years of college, no degree","1 or more years of college, no degree",Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,500,Midwest,West North Central,Same house,2020,North Dakota
4364,49,Female,"Married, spouse present",2,4,Masterâ€™s or professional degree,Master or professional degree,Master or PhD or professional degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,498000,Midwest,West North Central,Same house,2020,North Dakota

In [ ]:
# (a)

In [23]:
Mean_income= data_df['Income-wages'].mean()
print(f"Mean yearly income is:{Mean_income:.2f}")
Median_income= data_df['Income-wages'].median()
print(f"Median  yearly income is:{Median_income:.2f}")

Mean yearly income is:58704.16
Median  yearly income is:41000.00

In [ ]:
#(b)

In [24]:
Std_dev=data_df['Income-wages'].std()
print(f"Standard Deviation of yearly income:{Std_dev:,.2f}")
Variance=data_df['Income-wages'].var()
print(F"Variance of yearly income:{Variance:,.2f}")

Standard Deviation of yearly income:68,338.06
Variance of yearly income:4,670,090,640.72

In [ ]:
# (c)

In [25]:
no_variability_std_dev =0
print(f"Standard deviation with no variability:{no_variability_std_dev}")
no_variability_IQR=0
print(f"no_variability_IQR with no variability:{no_variability_IQR}")

Standard deviation with no variability:0
no_variability_IQR with no variability:0

In [ ]:
#(D)

In [28]:
no_variability_mean= data_df["Income-wages"].mean()
no_variability_median=data_df["Income-wages"].median()
no_variability_min=data_df["Income-wages"].min()
no_variability_max=data_df["Income-wages"].max()
no_variability_Q1=data_df["Income-wages"].quantile(0.25)
no_variability_Q3=data_df["Income-wages"].quantile(0.75)
print(f"Mean income:{no_variability_mean:,.3f}")
print(f"Median income: {no_variability_median:,.3f}")
print(f"Min income:{no_variability_min:,.3f}")
print(f"max income:{no_variability_max:,.3f}")
print(f"Q1:{no_variability_Q1:,.2f}")
print(f"Q3:{no_variability_Q3:,.2f}")

Mean income:58,704.165
Median income: 41,000.000
Min income:30.000
max income:661,000.000
Q1:22,000.00
Q3:71,000.00

In [ ]:
#(e)

In [35]:
import seaborn as sns

import matplotlib.pyplot as plt

In [1]:
plt.figure(figsize=(7,10))
sns.boxplot(data=data_df,x='Education',y='Income_wages')
plt. title('Income by Education')
plt.xticks(rotation=(45))
plt.show()

NameError: name 'plt' is not defined